* {
    /* border: solid 1px black; */
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px;
    text-decoration: none;
}

body, html {
    padding: 0;
    margin: 0;
}

#index {
    display: flex; /* 使用 Flexbox 佈局 */
    align-items: center; /* 垂直置中元素 */
    position: relative; /* 確保相對定位的參考元素 */
    margin-right: 10%;
    margin-left: 10%;

}

#logo {
    width: 200px;
    height: auto;
    margin-right: 10px;
    box-sizing: border-box;
}

.list-01 {
    display: flex; /* 使用 Flexbox 佈局 */
    align-items: center; /* 垂直置中元素 */
    list-style: none; /* 移除項目點點符號 */
    padding: 0;
}

.list-01 li {
    display: flex; /* 使用 Flexbox 佈局 */
    align-items: center; /* 垂直置中元素 */
    margin-right: 5%; /* 項目間的間距 */
    white-space: nowrap; /* 不換行 */
    height: 50px; /* 設置高度 */
}

#search_topIcon_01 {
    display: flex; /* 使用 Flexbox 佈局 */
    align-items: center; /* 垂直置中元素 */
    margin-right: 5%; /* 項目間的間距 */
    white-space: nowrap; /* 不換行 */
    height: 50px; /* 設置高度 */
}

#search_topIcon_01 img {
    height: 30px;
    width: auto;
}

#search_topIcon_01 span {
    height: 30px;
    width: 30px;
}

#Myinfo {
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: column; /* 將元素排列成一列 */
    margin-right: 10%;
    margin-left: 10%;
}

.PictureAndDescription {
    display: flex; /* 使用 Flexbox 佈局 */
}

.picture {
    margin-right: 2%; /* 添加一些間距 */
    width:  300px;
    height: auto;
    
}

.IconContainer {
    display: flex; /* 使用 Flexbox 佈局 */
    align-items: center; /* 垂直置中元素 */
    
}

/* 調整小圖示 Icon 大小為 5% 寬度，保持高度自適應 */
.Icon {
    width: 7%;
    height: auto;
    border-radius: 100%;
    margin-right: 2%;
    display: inline-block;
}
.context_01{
    width: 500px;
}

