
@media (max-width: 767px) {
    .dance {
      min-width: 100vw;
    }
    
    .bachata {
      height: auto;
      max-height: none;
    }
    
    .coverpage {
      min-width: 100vw;
    }
    
    .index {
      padding: 10px;
    }
    
    .logo {
      width: 100px;
    }
    
    .list-01 {
      padding-bottom: 5px;
      overflow-x: scroll;
    }
    
    .index li {
      margin-right: 5px;
    }
  }