.index {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: #16F4D0;
    box-sizing: inline-block;
  }
  
  .index ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .index li {
    opacity: 0.6;
    text-align: center;
    background-color: #16F4D0;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px; /* 設定左右間距為 20px，可根據需求調整間距大小 */
    line-height: 40px; /* 設定行高，使文字垂直置中 */
    margin-right: 5%;
  }
  
  .index li:hover {
    background-color: #CBF7ED;
  }
  
  
  .index li:hover {
    background-color: #CBF7ED;
    opacity: 1;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10%;
    display: inline-block;
    animation: rotate 3s 1s infinite linear;
    transition: transform 0.3s ease; /* 添加平滑過渡效果 */
  }
  
  .logo:hover {
    transform: scale(1.5);}