@media (max-width: 767px) {
    html, body {
        min-width: initial;
        padding: 0px;
        margin: 0px;
    }

    .hiddenSB{
        display: flex;
        align-items: center;
        justify-self: center;
        background-color: #16F4D0;
    }
    .dt{
        padding: 5px 5px 10px 25px;
        border: 1px solid black;
        border-radius: 15px;
        
    }
}
