
background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/307586379_5101813726591485_7632524809313324049_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2YzHVDff8noAX-ZUPZ7&_nc_ht=scontent-tpe1-1.xx&oh=00_AfAf7meZmBCmZ6bJkOtBwIUkn-2IYW-FjPbcFRT7SUPoLw&oe=64D4F8F7);
background-color: rgba(0, 0, 0, 0.1);
background-blend-mode: multiply;