.index {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    background-color: #16F4D0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    box-sizing: inline-block;
  }
  
  .index ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .index li {
    opacity: 0.6;
    text-align: center;
    background-color: #16F4D0;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .index li:hover {
    background-color: #CBF7ED;
    opacity: 1;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 60px;
    display: inline-block;
    margin-top: 10px;
    animation: rotate 3s 1s infinite linear;
    transition: transform 0.3s ease; /* 添加平滑過渡效果 */
  }
  
  .logo:hover {
    transform: scale(1.5);