
*{
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px ;
    /* border: 1px solid black; */
}

html, body{
    padding: 0px;
    margin: 0px;
    position: relative;
}
/* 第一層樣式 */


/* 第二層樣式 */
.PictureCourse01{
    width: 100vw;
    min-width: 768px;
    object-fit: fill;

}
.topWallOfMemory{
    height: 400px;
    width: 100vw;
    
    margin: 0px;        
    padding: 0px;
}