
*{
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px ;
    /* border: 1px solid black; */
}

html,
body{
    padding: 0px;
    margin: 0px;
    position: relative; 
}
/* 第一層樣式 */


.PictureCourse01{
    width: 100vw;
    min-width: 768px;
    object-fit: fill;
    padding: 0px;
    margin: 0px;
}
.topWallOfMemory{
    position: absolute;
    object-fit: fill;
    height: 450px;
    min-width: 768px;
    
    margin: 0px;        
    padding: 0px;
}

.search-bar {
    position: absolute;
    display: flex; 
    align-items: center; 
    justify-self: center;

    padding: 10px;
    
    border-radius: 15px;
    min-width: 768px;
}

.search-bar input {
    flex: 1; /* Allow the input to take remaining space */
    padding: 5px;
    margin-left: 10px; /* Add some spacing between elements */
    border-radius: 15px;
}

.logo {
    width: 100px;
    margin-right: 10px; /* Add some spacing between elements */
}

.link {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
}

.links {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 2vh;
    display: flex; /* Use flexbox to arrange links horizontally */
}