@media screen and (max-width: 414px) {
    html, body{
        padding: 0px;
        margin: 0px;
    }
    /* 第一層 */
    
    .search-bar {
        padding:0px;
        margin:0px;
       
        background-color: #16F4D0;
        
        position: relative;
        display: inline-block;
        box-sizing: content-box;

        align-items: normal;
        justify-self: normal;
        justify-content: center;
    }
    .logo{
        width: 100px;
        height:60px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
    }
    .links {
        font-size: px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        
    }
    
    .link {
        cursor: pointer;
        border-radius: 15px;
        border: solid .4px black;
        text-decoration: none; 
        color: black;
    }
    
    .search{
    }

    #searchInput{
        border-radius: 10px;
        height: 10px;
        top: 12px;
    } 

    /* 第二層 */
    .container{
        position: relative;
        left: 0px;
    }
    .lists{
        position: relative;
    }

    #buttonContainer {
        position: relative;
        font-size: 8px;
        display: flex;
    }

    #btnContent1 {
        position: relative;
        font-size: 8px;
        padding: 5px;
    }

    #btnContent2 {
        position: relative;
        font-size: 8px;
        padding: 5px;
    }

    .allInfo {
        position: relative;
        margin-top: 20px;
        margin-left: 20px; /* Add a left margin of 20px */
    }   

    .activity01 {
        width: 300px;
    }
    /* 第三層 */

    #contentContainer {
        position: relative;
        width: 100vw;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .allInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        width: 300px;
    }
    .allInfo img{
        position: relative;
        margin-top: 15px;
        width: 100px;
        height: 100px;   
    }
    .activity01{
        width: 280px;
    }
    .activity002 button{
        height: 30px;
        width: 200px;
        margin-bottom: 5px;
    }
    
}   

