@media screen and (max-width: 767px) {
    html, body{
        padding: 0px;
        margin: 0px;
    }
    
    .search-bar {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: #16F4D0;
        width: 100vw;
        
    }
    
    .search-bar input {
        height: 3vh;
        padding: 5px;
        position: relative;
    }
    .logo{
        width: 100px;
    }
    .links {
        white-space: nowrap;
    }
    
    .link {
        margin: 0 5px;
        font-size: 8px;
        padding: 5px;
        cursor: pointer;
        border-radius: 15px;
        border: solid .4px black;
        text-decoration: none; 
        color: black;
    }
    
    .search{
        margin-left: 2%;
    }
    
    .search input{
        border-radius: 15px;
        height: 20px;}
    }