*{
    position: relative;
    font-family: 微軟正黑體;
}

html, body{
    padding: 0px;
    margin: 0px;
    overflow: visible;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 786px;
}

*{
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px ;
    /* border: 1px solid black; */
}

html,
body
{
    padding: 0px;
    margin: 0px;
    min-width: 768px;
}

.search-bar{
    padding: 0px;
    margin: 0px;
}

/* 第一層樣式 */
.PictureCourse01{
    width: 100%;
    z-index: 1;
}
.topCourse{
    position: absolute;
    object-fit: fill;

    height: 450px;
    width: 100vw;
    min-width: 768px;
    
    margin: 0px;        
    padding: 0px;

}

.links {
    margin-left: 10px ;

    display: flex; 
    background-color: rgba(22, 244, 208, .05);
    border-radius: 15px;

    min-width: 768px;
    width: 768px;

    z-index: 2;
    
}

.link {
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
    white-space: nowrap;
}
.search-bar input {
    margin-top: 20px;
    border-radius: 15px;
    width: 130px;
}

.logo {
    width: 100px;
    margin-right: 10px; /* Add some spacing between elements */
}
/* 第二層樣式 */

#buttonContainer {
text-align: center;
position: relative;
display: flex;
margin-left: 30%;
margin-right: 30%;
}

button {
border-right: 10%;
margin-right: 10px;
margin-top: 600px;
padding: 10px 20px;

background-color: #16F4D0;
color: white;
border: none;
border-radius: 15px;
cursor: pointer;
font-size: 18px;
font-weight: 700px;
white-space: nowrap;

}

#contentContainer {
    margin-top: 30px;
    margin-right: 10px;
    display: flex; /* 使用 flex 佈局 */
    flex-wrap: wrap; /* 超過畫面寬度後自動換行 */
    justify-content: center;
  }
  

.allInfo {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px; /* 新增間距 */
  }
  
.activity01{
display: flex;
text-align: left;
flex-direction: column;

}
.activity001{
display: flex;
flex-direction: column;
width: 300px;

}

.allInfo img{
width: 300px;
height: 300px;
border-radius: 30px;
margin-right: 20px;
margin-top: 22px;
margin-left: 10px;


}

.activity002{
    margin-bottom: 3%;
    border-radius: 10px;
}




@media (min-width: 600px) {
    .topCourseMB {
        display: none;
    }
    .hiddenSB{  
        display: none;
    }
}
