*{
    position: relative;
    font-family: 微軟正黑體;
}

html, body{
    padding: 0px;
    margin: 0px;
    overflow: visible;

}
/* 第一層樣式 */
.search-bar {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    text-overflow: ellipsis;
    background-color: #16F4D0;
    min-width: 768px;
}

.search-bar input {
    width: 200px;
    height: 3vh;
    padding: 5px;
    position: relative;
}
.logo{
    width: 100px;
}
.links {
    font-size: .6em;
    white-space: nowrap;
}

.link {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
    font-weight:700;
}

.search{
    margin-left: 2%;
}

.search input{
    border-radius: 15px;
    height: 20px;}

/* 第二層樣式 */
.container {
    display: grid; /* 使用 grid 來分隔不同的列 */
    grid-template-columns: 1fr; /* 1fr 表示自動填滿剩餘空間 */
    grid-template-rows: auto auto; /* 兩個自動高度的列 */
    justify-content: center;
    align-items: center;
    gap: 20px; /* 列與列之間的間隔 */
    margin-top: 20px;
  }
  