*{
    position: relative;
    font-family: 微軟正黑體;
}

html, body{
    padding: 0px;
    margin: 0px;
    overflow: visible;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 786px;
}
/* 第一層樣式 */
.search-bar {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    text-overflow: ellipsis;
    background-color: #16F4D0;
    min-width: 390px;
    
}

.search-bar input {
    width: 200px;
    height: 3vh;
    padding: 5px;
    position: relative;
}
.logo{
    width: 100px;
}
.links {
    white-space: nowrap;
}

.link {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
}

.search input{
    position: relative;
    border-radius: 15px;
    height: 20px;
    left: 0px;
    }


/* 第二層樣式 */

#buttonContainer {
text-align: center;
position: relative;
display: flex;
}

button {
border-right: 10%;
margin-right: 10px;
margin-top: 2%;
padding: 10px 20px;
background-color: #16F4D0;
color: white;
border: none;
border-radius: 15px;
cursor: pointer;
font-size: 18px;
font-weight: 700px;
white-space: nowrap;

}

#contentContainer {
    margin-top: 30px;
    margin-right: 10px;
    display: flex; /* 使用 flex 佈局 */
    flex-wrap: wrap; /* 超過畫面寬度後自動換行 */
    justify-content: center;
  }
  

.allInfo {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px; /* 新增間距 */
  }
  
.activity01{
display: flex;
text-align: left;
flex-direction: column;

}
.activity001{
display: flex;
flex-direction: column;
width: 300px;

}

.allInfo img{
width: 300px;
height: auto;
border-radius: 30px;
margin-right: 20px;

}

.activity002{
    margin-bottom: 3%;
    border-radius: 10px;
}
