* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

body,
html,
head {
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column; /* 將 body 設置為 Flexbox 容器並設置主軸方向為垂直方向 */
}

.dance {
  display: flex;
  min-width: 768px;
  z-index: 1;
}

.swing, 
.bachata {
  width: 100%;
  object-fit: fill;
  height: 100vh;
}

.coverpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

@media (max-width: 768px) {
  .index {
    height: 10vh; /* 或是其他適合的高度 */
  }
}
/* 其他 CSS 部分保持不變 */

.logo{
  width: 150px;
  height: auto;
  display: block; /* 讓 logo 圖片置中 */
}
.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: 3; 
}

.index ul {
  display: flex;
  position: ;
  list-style-type: none;
  width: 100%; /* 將 .index ul 的寬度設置為 100% */
  align-items: center;
}

.index li {
  position: relative;
  cursor: pointer;
  text-align: center; /* 將文字水平置中 */
  margin-right: 2%;
  margin-right: 10px;
}

.index li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  opacity: 0.6;
  background-color: #16F4D0;
  border-radius: 15px;
  white-space: nowrap;
  padding: 10px;
}

.index li a:hover {
  opacity: 1; /* 滑鼠懸停時恢復完全不透明 */
}

.index li a:active {
  opacity: 0.6; /* 滑鼠點擊時透明度降至 0.6 */
}

.index li img.logo {
  width: 40px;
  height: 30px;
  margin: 5px auto; /* 調整 logo 圖片與文字之間的垂直間距 */
  display: block; /* 讓 logo 圖片置中 */
}
  
.index li img.logo :hover{
  color: aqua;
  opacity: .6%;
}