* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 微軟正黑體;
}

body {
  padding: 0;
  margin: 0;
}

.dance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swing, .bachata {
  width: 50%;
  object-fit: cover;
  height: 100vh;
}

.coverpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .index {
    height: 10vh; /* 或是其他適合的高度 */
  }
}
/* 其他 CSS 部分保持不變 */

.logo{
  width: 150px;
  hight: auto;
  margin
  
}
.index{
  position: absolute;
}
.index ul {
  display: flex;
  list-style-type: none;
  width: 100%; /* 將 .index ul 的寬度設置為 100% */
  justify-content: space-between; /* 將 <a> 項目平均分佈在 <li> 內 */
  padding: 0 20px; /* 為了避免項目靠近邊界，添加一些內側間距 */
}

.index li {
  position: relative;
  cursor: pointer;
  text-align: center; /* 將文字水平置中 */
}

.index li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: large;
  padding: 10px 20px;
  opacity: 0.6;
  background-color: #16F4D0;
  border-radius: 15px;
  white-space: nowrap;
}

.index li img.logo {
  width: 40px;
  height: 40px;
  margin: 5px auto; /* 調整 logo 圖片與文字之間的垂直間距 */
  display: block; /* 讓 logo 圖片置中 */
}

.index li:nth-child(1) a {
  left: 0%;
}

.index li:nth-child(2) a {
  left: 20%;
}

.index li:nth-child(3) a {
  left: 40%;
}

.index li:nth-child(4) a {
  left: 60%;
}

.index li:nth-child(5) a {
  left: 80%;
}

.index li:nth-child(6) a {
  left: 100%;
}
