* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 微軟正黑體;
}

body {
  padding: 0;
  margin: 0;
}

.dance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swing, .bachata {
  width: 50%;
  object-fit: cover;
  height: 100vh;
}

.coverpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .index {
    height: 10vh; /* 或是其他適合的高度 */
  }
}
