@media screen and (max-width: 767px) {

    * {
        font-family: 微軟正黑體;
      }

    body, 
    html{
      min-width: 390px;
      padding: 0px;
      margin: 0px;
    }
    .picReplace{
      display: flex;
      width: 100vw;
      height: 100vh;
      object-fit: fill;
      overflow-y: hidden;
    }
    .dance{
      display: none;
      padding: 0px;
      margin: 0px;
    }
    .replace {
      display: flex;
      width: 50vw;
      object-fit: fill;
    }
  
    #index{
      min-width: 390px;
     padding: 0px;
     margin: 0px;
     display: flex;
     margin-left: 3%;
     margin-right: 3%;
  
    }
    
    .logo{
      width: 50px;
      height: auto;
    }
    
    .list-01{
      align-items: center; 
      justify-content: center;

      
    }
    
    .index li {
      position: relative;
      text-decoration: none;
      
    }
    
    .index li a {
      text-decoration: none;
      font-size: 10px;
      opacity: 0.6;
      background-color: #16F4D0;
      color: black;
      border-radius: 15px;
      padding: 5px;
      white-space: nowrap;
    }
    
    .index li:hover{
      transform: scale(1.2);
    }
    
  }
  