* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

body,
html,
head {
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column; /* 將 body 設置為 Flexbox 容器並設置主軸方向為垂直方向 */
}

.dance {
  display: flex;
  min-width: 768px;
  z-index: 1;
}

.swing, 
.bachata {
  width: 100%;
  object-fit: fill;
  height: 100vh;
}

.coverpage {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* 其他 CSS 部分保持不變 */


.index {  
  display: flex;
  flex-direction: column;
  align-items: center; /* 在主軸方向上置中 */
  justify-content: center; /* 在交錯軸方向上置中 */
  min-height: 100vh;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.logo{
  width: 150px;
  height: auto;
  display: block; /* 讓 logo 圖片置中 */
}

.list-01{
  align-items: center; /* 在主軸方向上置中所有子元素 */
  justify-content: center; /* 在交錯軸方向上置中所有子元素 */
}
.index ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between; /* 將 <a> 項目平均分佈在 <li> 內 */
  align-items: center;
}

.index li {
  position: relative;
  cursor: pointer;
  text-align: center; /* 將文字水平置中 */
  margin-right: 2%;
  margin-right: 10px;
  text-decoration: none;
  
}

.index li a {
  text-decoration: none;
  font-size: 14px;
  opacity: 0.6;
  background-color: #16F4D0;
  border-radius: 15px;
  padding: 10px;
  color: black;
  white-space: nowrap;
}