* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 微軟正黑體;
}


body {
  padding: 0;
  margin: 0;
}

.dance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swing, .bachata {
  width: 50%;
  object-fit: cover; /* 調整影片保持比例填滿容器 */
  height: 100vh;
}

.coverpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .index {
    height: 10vh; /* 或是其他適合的高度 */
  }
}

.index {
  display: flex;
  position: fixed;

  bottom: 5%;
  width: 100%;
  background-color: #16F4D0;

  justify-content: center;
  align-items: center;
  height: 7vh;
}
.index:hover{
  transform: scale(1.5);
}

.logo {
  position: absolute;
  width: 100px;
  max-width: fit-content;
  height: auto;
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%;
  animation: rotate 3s 1s infinite linear;
  transition: transform 0.3s ease; /* 添加平滑過渡效果 */
}

.index ul {
  display: flex;
  list-style-type: none;
}


.index li {
  opacity: 0.6;
  text-align: center;
  background-color: #16F4D0;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative; /* 添加 position: relative; */
  cursor: pointer;
  position: absolute;
  
}

.index li:hover {
  background-color: #CBF7ED;
}
.list-01{
  position: absolute;
  display: flex;
  left: 0px;
}
.list-01 li {
  left: 30;

  
}

.logo:hover {
  transform: scale(1.5);
}

a {
  text-decoration: none; 
  color: inherit; /* 繼承父元素的文字顏色 */
}

