* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 微軟正黑體;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* 隱藏水平滾動條 */
}

.dance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 隱藏超出範圍的內容 */
}

.swing, .bachata {
  width: 50%;
  object-fit: cover; /* 調整影片保持比例填滿容器 */
}

.coverpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 6%;
  background-color: #16F4D0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 3%;
  box-sizing: inline-block;
}
.index:hover{
  transform: scale(1.5);
}

.index ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  justify-content: bottom;
  margin-top: 60%;
  
}


.index li {
  opacity: 0.6;
  bottom: 3%;
  text-align: center;
  background-color: #16F4D0;
  border-radius: 15px;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  white-space: nowrap;
  position: relative; /* 添加 position: relative; */
}

.index li:hover {
  background-color: #CBF7ED;
}
.logo {
  width: 100px;
  height: auto;
  margin-bottom: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 1%;
  margin-left: 1.5%;
  animation: rotate 3s 1s infinite linear;
  transition: transform 0.3s ease; /* 添加平滑過渡效果 */
}

.logo:hover {
  transform: scale(1.5);
}

