@media screen and (max-width: 414px) {
    html, body{
        padding: 0px;
        margin: 0px;
    }
    body{
        display: inline-block;
        box-sizing: border-box;
    }
    .search-bar {

        padding: 10px;
        width: 414px;
        background-color: rgba(0,255,255,.1);

        display: inline-block;
        box-sizing: border-box;
    }

    .search-bar input {
        width: 300px;
        height: 30px;
        padding: 5px;

        display: inline-block;
        box-sizing: border-box; 
    }
    .logo {
        width: 80px;
        height: 40px;
        align-self: center;l
    }

    .links {
        margin-left: 10px;
    }

    .link {
        padding: 3px;
    }

    .topPictureOfCourse {
        width: 390px;;
    }

    .rightCourse {
        margin-bottom: 5px;
    }

    #sum {
        width: 150px;
        border: 0.5px solid black;
    }

    #list {
        width: 150px;
    } 
    .allInfo img {
        min-width: 150px;
        
        
    width: 150px;
        
        
    height: 150px;
        margin-right: 10px;
    }
    }