@media screen and (max-width: 390px) {

    
    html, body{
        padding: 0px;
        margin: 0px;
    }
    body{
        display: flex;
        flex-direction: column;
        min-width: 786px;
    }
    .search-bar {
        padding: 10px;
    }

    .search-bar input {
        width: 80px;
        height: 80px;
        padding: 5px;
        top: -2px;
    }


    }

    .logo {
        width: 80px;
        height: 40px;
    }

    .links {
        margin-left: 10px;
    }

    .link {
        padding: 3px;
    }

    .search {
        margin-left: 1%;
    }

    .search input {
        height: 15px;
        margin-top: 5px;
    }

    .topPictureOfCourse {
        height: 250px;
    }


    .rightCourse {
        margin-bottom: 5px;
    }

    #sum {
        width: 150px;
        border: 0.5px solid black;
    }

    #list {
        width: 150px;
    } 
    .allInfo img {
        min-width: 150px;
        
        
    width: 150px;
        
        
    height: 150px;
        margin-right: 10px;
    }