
@media screen and (max-width: 768px) {
    /* First layer styles */
    .search-bar {
      position: relative;
      
     
  align-self: center;
      background-color: rgba(22, 244, 208, 0.05);
      
     
  border-radius: 30px;
      padding: 20px;
    }
  
    .search-bar input {
      
     
  width: 100%;
      height: 40px;
      padding: 5px;
    }
  
    
    }
  
   
  .logo {
      
     
  width: 100px;
    }
  
    .links {
      margin-top: 10px;
      
     
  margin-left: 20px;
      
     
  margin-bottom: 2vh;
      white-space: nowrap;
      display: none; /* Hide the links in mobile */
    }
  
    
    }
  
   
  /* Second layer styles */
    .PicturenCourse01 {
      
     
  min-width: 100%;
      overflow: hidden;
    }
  
    .topPictureOfCourse {
      height: 300px;
      width: 100%;
      
     
  object-fit: cover;
      min-width: 100%;
      margin: 0;
      
     
  padding: 0;
    }
  
    
    }
  
   
  /* Third layer styles */
    .container_buttom {
      display: flex;
      
     
  flex-direction: column; /* Change to column for mobile */
      
     
  align-items: center; /* Center the content */
      min-width: 100%;
    }
  
    
    }
  
  .leftCourse {
      display: flex;
      flex-direction: column;
      margin-right: 0; /* Remove the margin for mobile */
      margin-bottom: 20px; /* Add margin bottom for spacing */
    }
  
    
    }
  
  .rightCourse {
      display: flex;
      overflow-x: auto; /* Horizontal scroll for mobile */
      width: 100%; /* Occupy full width */
      margin-bottom: 20px; /* Add margin bottom for spacing */
    }
  
    
   
  /* Scrollbar styles */
    
   
  .rightCourse::-webkit-scrollbar {
      width: 5px;
      background: rgba(229, 229, 229, 0.2);
      
     
  border-radius: 20px;
    }
  
    
    }
  
   
  
    }
  
  .rightCourse::-webkit-scrollbar-thumb {
      
     
  background: rgba(0, 0, 0, 0.2);
      
     
  border-radius: 20px;
    }
  
    .rightCourse::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  
    #sum {
      min-width: 100%;
      width: 100%;
      
     
  border: 1px solid black;
      margin-bottom: 10px; /* Add margin bottom for spacing */
    }
  
    #list {
      min-width: 100%;
      background-color: #e0ffff;
      
     
  margin-bottom: 10px; /* Add margin bottom for spacing */
    }
  
    
    }
  
  .classroomLh,
    
   
  .classroomCh,
    .classroomBa,
    
   
  .classroomSa {
      display: flex;
      
     
  border: 1px solid black;
      
     
  margin-bottom: 10px; /* Add margin bottom for spacing */
    }
  
    
    }
  
   
  .allInfo {
      display: flex;
      
     
  flex-direction: column; /* Change to column for mobile */
      margin-left: 0; /* Remove margin left for mobile */
      
     
  margin-bottom: 20px; /* Add margin bottom for spacing */
    }
  
    .allInfo img {
      min-width: 100%;
      width: 100%;
      height: auto;
      margin-right: 0; /* Remove margin right for mobile */
      
     
  margin-bottom: 10px; /* Add margin bottom for spacing */
    }
  
    
  
  .courses01 {
      display: flex;
      flex-wrap: wrap;
      overflow-x: auto; /* Horizontal scroll for mobile */
      width: 100%; /* Occupy full width */
    }
  
    /* Scrollbar styles */
    
   
  .courses01::-webkit-scrollbar {
      width: 5px;
      background: rgba(229, 229, 229, 0.2);
      border-radius: 20px;
    }
  
    
    }
  
   
  
    }
  
  .courses01::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  
    .courses01::-webkit-scrollbar-thumb:hover {
      
     
  background: rgba(0, 0, 0, 0.4);
    }
  
    .courses001 {
      position: relative;
      width: 100%; /* Occupy full width */
      margin-bottom: 20px; /* Add margin bottom for spacing */
    }
  }