*{
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px ;
    /* border: 1px solid black; */
}

html, body{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 768px;
}
/* 第一層樣式 */
.search-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,255,255,.05);
    
}

.search-bar input {
    width: 160px;
    height: 3vh;
    padding: 5px;
    position: relative;
}
.logo{
    width: 100px;
}
.links {
    white-space: nowrap;
}

.link {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
}

.search{
    margin-left: 2%;
}

.search input{
    border-radius: 15px;
    height: 20px;}

/* 第二層樣式 */
.topPictureOfCourse{
    height: auto;
    width: 100%;
}
/* 第三層 */
.container_buttom{
    display: flex;
    position: relative;
    min-width: 768px;
    padding: 0px;
}
.leftCourse{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
}

.rightCourse{
    display: flex;
    position: relative;
    
    max-width: 300px;
}
#sum{
    margin-left: 20px;
    width: 200px;
    border: 1px solid black;
}
#sum:hover{
    opacity: .7 ;
    transform: scale(1.1);
}

#list{
    background-color: #E0FFFF;
    margin-left: 20px;
    width: 200px;
}
.classroomLh:hover, 
.classroomCh:hover, 
.classroomBa:hover, 
.classroomSa:hover{
    transform: scale(1.1);
    background-color: azure;
}

.classroomLh, 
.classroomCh, 
.classroomBa,
.classroomSa{
    border: 1px solid black;
    display: block;
    
}
.allInfo{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    max-width: 500px;
}
.allInfo img{
    max-width: 200px;
    width: 510px;
    height: fit-content;
    margin-right: 20px;
}

.courses01{
    height: 312px;
    width: 300px;
    min-width: 300px;
    min-height: 312px;
}

@media screen and (max-width: 768px) {
    
    #display{
      flex-direction: column; /* Change to single column layout */
      width: 768px;
      height: fit-content;
      margin-right: 20px;
    };
};