@media screen and (min-width: 768px) {    
    html, body {
        min-width: initial;
        padding: 0px;
        margin: 0px;
    }

    .hiddenSB{
        display: flex;
        align-items: center;
        justify-self: center;
        background-color: #16F4D0;
        min-width: 500px;
        width: 500px;
    }
    #dt{
        padding: 5px 25px 10px 5px;
        border: 1px solid black;
        border-radius: 10px;
        width: 130px;
        margin:0px;
        margin-top: 20px;
        text-decoration: none;

    }
    .lk01{
        margin: 10px;
        width: fit-content;
        border: 1px solid black;
        width: 140px;
        border-radius: 10px;
    }
    .lk01::marker {
        content: none;
    }
    .link{
        width: 100px;
        border: none;
        
    }

    .search input{
        top: 10px;
        width: 130px;
    }


    
    .topPictureOfCourse {
        width: 390px;;
    }

    .rightCourse {
        margin-bottom: 5px;
    }

    #sum {
        width: 150px;
        border: 0.5px solid black;
    }

    #list {
        width: 150px;
    } 
    .allInfo img {
        min-width: 150px;
        
        
    width: 150px;
        
        
    height: 150px;
        margin-right: 10px;
    }
    .PicturenCourse01{
        display: none;
    }
    }