*{
    position: relative;
    font-family: 微軟正黑體;
    font-size: 16px ;
    /* border: 1px solid black; */
}

html, body{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 786px;
}
/* 第一層樣式 */
.search-bar {
    position: absolute;
    display: flex;
    padding: 10px;
    text-overflow: ellipsis;
    background-color: rgba(22, 244, 208,.05);
    z-index: 3;
    border-radius: 30px;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.search-bar input {
    width: 100px;
    height: 100PX;
    padding: 5px;
    position: relative;
    top: -5px;
}
.logo{
    width: 100px;
}
.links {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 2vh;
    white-space: nowrap;
    
}

.link {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: solid .4px black;
    text-decoration: none; 
    color: black;
}

.search{
    margin-left: 2%;
}

.search input{
    border-radius: 15px;
    height: 20px;
    margin-top: 10px;

}

/* 第二層樣式 */
.PicturenCourse01{
    min-width: 768px;
    overflow: hidden;
}
.topPictureOfCourse{
    height: 400px;
    width: 100vw;
    object-fit: fill;
    min-width: 768px;
    margin: 0px;
    padding: 0px;
}
/* 第三層 */
.container_buttom{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.leftCourse{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.rightCourse{
    display: flex;
    overflow:scroll;
    width: 100vw;
}

.rightCourse::-webkit-scrollbar-thumb {
    visibility: hidden;
}
.rightCourse::-webkit-scrollbar {
    width: 1px;
    background-color: rgba(229,229,229,.1);
    width:0.2px;
    
}

#sum{
    min-width: 200px;
    margin-left: 20px;
    width: 200px;
    border: 1px solid black;
}
#sum:hover{
    opacity: .7 ;
    transform: scale(1.1);
}

#list{
    min-width: 200px;
    background-color: #E0FFFF;
    margin-left: 20px;
    width: 200px;


}
.classroomLh:hover, 
.classroomCh:hover, 
.classroomBa:hover, 
.classroomSa:hover{
    transform: scale(1.1);
    background-color: azure;
}

.classroomLh, 
.classroomCh, 
.classroomBa,
.classroomSa{
    border: 1px solid black;
    display: block;
    
}
.allInfo{
    display: flex;
    margin-left: 10px;
    position: relative;
    border: 1px solid black;
    width: 600px;

}
.allInfo img{
    min-width: 200px;
    width:200px;
    height: 200px;
    margin-right: 20px;
}
.courses01{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.courses001{
    position: relative;
    width: 500px;
}


